/* Basic Styles */
html {
    background-color: black;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    color: whitesmoke;

}

h1 {
    color: white;
}

a {
    text-decoration: none;
}

/* ID Styles */

/* Class Styles */

nav {
    background-color: silver;
}

/* PseudoClass Styles */

/* Clearfix ---------------------------------- */

.group::after {
    content: "";
    display: table;
    clear: both;
  }
